body{
    margin: 0;
    padding: 0;
}
.section-3-content {
    width: 100%;
}
.section-3-title-h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 45px;
}
.section-3-blocks-1{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section-3-block-solo {
    margin-top: 50px;
    max-width: 500px;
    padding: 15px;
}
.section-3-img {
    max-width: 400px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: grey 10px 10px 8px;
    transition: 0.3s;
}
.section-3-img:hover{
    box-shadow: grey 20px 20px 10px;
}
.block-solo-h2 {
    font-size: 25px;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
}
.block-solo-p {
    margin-top: 20px;
    line-height: 18px;
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
}
.block-solo-btn {
    padding: 13px 50px;
    border-radius: 10px;
    border: 1px gray solid;
    font-size: 13px;
    background: transparent;
    transition: 0.2s;
}
.block-solo-btn:hover{
    background: #202020;
    color: white;
    box-shadow: grey 5px 5px 5px;
}

@media screen and (max-width: 430px) {
    .section-3-blocks-1{
        padding: 0;
    }
    .section-3-block-solo{
        width: 240px;
        padding: 0;
        margin: 30px;
    }
    .section-3-img{
        width: 250px;
    }
    .section-3-title-h1{
        font-size: 25px;
    }
    .block-solo-h2{
        font-size: 20px;
    }
    .block-solo-p{
        font-size: 15px;
    }
}
@media screen and (max-width: 1024px) {
    .section-3-blocks-1{
        padding: 0;
    }
    .section-3-block-solo{
        width: 240px;
        padding: 0;
        margin: 30px;
    }
    .section-3-img{
        width: 250px;
    }
    .section-3-title-h1{
        font-size: 25px;
    }
    .block-solo-h2{
        font-size: 20px;
    }
    .block-solo-p{
        font-size: 15px;
    }
}